{% extends 'homebuhweb/base.html' %}

{% load static %}

{% block title %}ДАННЫЕ ПОЛЬЗОВАТЕЛЯ{% endblock %}

{% block header_buttons %}
{% endblock %}

{% block content %}
    <style>
        .profile-container {
            display: flex;
            align-items: flex-start;
            gap: 20px; /* Расстояние между формой и аватаром */
        }

        .avatar-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .avatar-container img {
            max-width: 150px; /* Размер аватара */
            border-radius: 50%; /* Круглый аватар */
            margin-bottom: 10px; /* Отступ снизу */
        }

        .form-container {
            flex-grow: 1;
        }

        .file-input {
            display: none; /* Скрыть стандартный input для файла */
        }
    </style>
    <div class="row">
        <div class="col-md-12">
            {% if user.is_authenticated %}
                <h2 class="mb-4">Профиль пользователя</h2>
                <div class="profile-container">
                    <div class="avatar-container">
                        <img src="
                                
                                {% if user.profile.avatar %}{{ user.profile.avatar.url }}{% else %}{% static 'images/apple-touch-icon.png' %}{% endif %}"
                             alt="Аватар" class="avatar mb-3 img-thumbnail">
                        <form method="post" enctype="multipart/form-data" id="upload-avatar-form">
                            {% csrf_token %}
                            <input type="file" name="avatar" id="file-input" class="file-input"
                                   onchange="document.getElementById('upload-avatar-form').submit();">
                            <label for="file-input" class="btn btn-custom mt-2">Загрузить аватар</label>
                        </form>
                        <form method="post" action="{% url 'delete_avatar' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger mt-2">Удалить аватар</button>
                        </form>
                    </div>
                    <div class="form-container">
                        <h3 class="mt-4">Личная информация</h3>
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{ user_form.as_p }}
                            </div>
                            <div class="mb-3">
                                {{ profile_form.as_p }}
                            </div>
                            <button type="submit" class="btn btn-custom mt-3">Сохранить данные</button>
                        </form>
                        <a href="{% url 'user_cabinet' %}" class="btn btn-custom mt-3">Переход в Личный кабинет</a>
                    </div>
                </div>
            {% else %}
                <p>Вы не авторизованы. Пожалуйста, <a href="{% url 'login' %}">войдите</a>.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
